@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  background-image: url('../images/pexels.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 100%;
}
.logo {
  width: 235px;
  height: auto;
  position: relative;
  top: -31%;
}
.navbar ul {
  display: flex;
  float: right;
  margin: 35px 50px;
}
.navbar ul li {
  display: flex;
  padding: 7px 25px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.navbar ul li a.active,
.navbar ul li a:hover {
  background-color: royalblue;
  border-radius: 3px;
  padding: 2px 11px;
  margin: -3px;
}
.centre {
  position: absolute;
  top: 40%;
  left: 35%;
  font-family: sans-serif;
  transform: translate(-30%, -30%);
}
.centre h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.centre h2 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.centre .buttons {
  margin: 35px 280px;
}
.buttons button {
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #ffb3b3;
  background-color: red;
  border: 1px solid #cc0000;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
}
.buttons .btn {
  margin-left: 25px;
}
.buttons button:hover {
  background-color: #cc0000;
}
